body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.height-10{
  min-height: 10px;
  clear: both;
}
.padding-left-60{
  padding-left: 60px;
}
.padding-10{
  padding-top: 10px;
}
a:hover {
  color: #00B7FF;
  cursor: pointer;
}
.banner {
  padding-left: 10px;
  height:30px;
  line-height: 30px;
  background-color: #efefef;
}
.text-red {
  color: red;
}
.bg-red {
  background-color: red;
}
.bg-grey {
  background-color: #efefef;
}

#login {
  margin: 0 auto;
  width: 300px;
}

.center-button {
  padding-top: 10px;
  text-align: center;
}
#work {
  padding: 10px;
  margin: 10px auto;
  width: 800px;
  background-color: #efefef;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
#register{
  margin: 0 auto;
  width: 300px;
}
#export {
  padding: 10px;
  margin: 10px auto;
  width: 800px;
}
.export-layout {
  padding: 10px;
  margin: 10px auto;
  width: 800px;
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
} 
