doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-datetimepicker.min.css")
    link(rel="stylesheet", href="/stylesheets/select2.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')  
    script(src='/javascripts/bootstrap-datetimepicker.min.js')  
    script(src='/javascripts/select2.min.js')
    script(src='/javascripts/pages.js')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          p.navbar-brand Work Report System
        ul.nav.navbar-nav
          li.active 
            a(href="/pages/") 工作记录
          li 
            a(href="/attendance/") 加班记录
        .nav.navbar-nav.navbar-right
          span.banner 欢迎，#{userinfo.username}（#{userinfo.email}）
            input(type="hidden" id="LoginUserId" readonly="readonly" name="userID", value="#{userinfo.id}")
            a(href="/users/logout") logout
    block content
